{% assign array_string = 'Mike,Chris,Bob,Denise,Clinton,Michael' %}
{% assign some_type_of_array = array_string | split: ',' %}
{% assign variable = 'something' %}
{% assign collection = collections['all']%}
<!-- <ul>
  {%for name in some_type_of_array%}
  <li>
    {{name}}
  </li>
  {%endfor%}
</ul> -->
{{collection.title}}
<ul>
    {% for product in collection.products %}
        <li>{{product.title}}
            -
            {{product.price | money}}
            -
            {{product.available}}
            {%if product.available != true%}
            - (SOLD OUT)
            {%endif%}
          
          </li>
    {% endfor %}
</ul>
